@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:wght@100&family=Roboto+Condensed:wght@300&display=swap');

section {
    background-color: #fff1e6;
    width: 50%;
    margin-left: 25%;
    padding: 20px;
}

.data {
    font-family: 'roboto condensed';
    color: #0077b6;
}

.titulo {
    font-family: 'Montserrat';
}

.conteudo {
    font-family: 'Raleway';
    margin: 0px;
}