body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-bottom: 10px;
    height: 100px;
    background-color: #168aad;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: space-between;
}

#container section{
    background-color: #76c893;
    margin: 5px;
    padding: 10px;
}